version: "3.8"

services:
  zeebe:
    image: camunda/zeebe:8.5.0
    container_name: zeebe
    ports:
      - "26500:26500"
      - "9600:9600"
    environment:
      - ZEEBE_LOG_LEVEL=debug
      - ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_CLASSNAME=io.camunda.zeebe.exporter.ElasticsearchExporter
      - ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_ARGS_URL=http://elasticsearch:9200
    volumes:
      - zeebe_data:/usr/local/zeebe/data
    networks:
      - camunda-platform
    depends_on:
      - elasticsearch

  operate:
    image: camunda/operate:8.5.0
    container_name: operate
    ports:
      - "8081:8080"
    environment:
      # Use identity-auth profile for OIDC authentication
      - SPRING_PROFILES_ACTIVE=identity-auth
      - CAMUNDA_OPERATE_ZEEBE_GATEWAYADDRESS=zeebe:26500
      - CAMUNDA_OPERATE_ELASTICSEARCH_URL=http://elasticsearch:9200
      - CAMUNDA_OPERATE_ZEEBEELASTICSEARCH_URL=http://elasticsearch:9200
      - CAMUNDA_OPERATE_IDENTITY_ISSUER_URL=${KEYCLOAK_EXTERNAL_URL:-http://localhost:8085}/realms/camunda-platform
      - CAMUNDA_OPERATE_IDENTITY_ISSUER_BACKEND_URL=http://keycloak:8080/realms/camunda-platform
      - CAMUNDA_OPERATE_IDENTITY_CLIENT_ID=operate
      - CAMUNDA_OPERATE_IDENTITY_CLIENT_SECRET=operate-secret
      - CAMUNDA_OPERATE_IDENTITY_AUDIENCE=operate
      - CAMUNDA_OPERATE_IDENTITY_REDIRECT_ROOT_URL=${OPERATE_EXTERNAL_URL:-http://localhost:8081}
    depends_on:
      - zeebe
      - elasticsearch
      - keycloak
    networks:
      - camunda-platform

  tasklist:
    image: camunda/tasklist:8.5.0
    container_name: tasklist
    ports:
      - "8082:8080"
    environment:
      # Use identity-auth profile for OIDC authentication
      - SPRING_PROFILES_ACTIVE=identity-auth
      - CAMUNDA_TASKLIST_ZEEBE_GATEWAYADDRESS=zeebe:26500
      - CAMUNDA_TASKLIST_ELASTICSEARCH_URL=http://elasticsearch:9200
      - CAMUNDA_TASKLIST_ZEEBEELASTICSEARCH_URL=http://elasticsearch:9200
      - CAMUNDA_TASKLIST_IDENTITY_ISSUER_URL=${KEYCLOAK_EXTERNAL_URL:-http://localhost:8085}/realms/camunda-platform
      - CAMUNDA_TASKLIST_IDENTITY_ISSUER_BACKEND_URL=http://keycloak:8080/realms/camunda-platform
      - CAMUNDA_TASKLIST_IDENTITY_CLIENT_ID=tasklist
      - CAMUNDA_TASKLIST_IDENTITY_CLIENT_SECRET=tasklist-secret
      - CAMUNDA_TASKLIST_IDENTITY_AUDIENCE=tasklist
      - CAMUNDA_TASKLIST_IDENTITY_REDIRECT_ROOT_URL=${TASKLIST_EXTERNAL_URL:-http://localhost:8082}
    depends_on:
      - zeebe
      - elasticsearch
      - keycloak
    networks:
      - camunda-platform

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    container_name: keycloak
    ports:
      - "8085:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_PROXY=edge
      - KC_HTTP_ENABLED=true
    command: 
      - start-dev 
      - --import-realm
    volumes:
      - ./config/camunda-identity-realm.json:/opt/keycloak/data/import/realm.json
    networks:
      - camunda-platform

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    container_name: elasticsearch
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    networks:
      - camunda-platform

networks:
  camunda-platform:

volumes:
  zeebe_data:
  elastic_data: